.example-header-image {
    background-size: cover;
    border-radius: 50%;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    
  }
  
  .l_c_h {
    width:260px;
    position:fixed;
    bottom:0;
    right:0px;
    background:#fff;
    border-radius:7px;
    border:1px solid black;
    z-index:5000;
            display:block;
          }
  .l_c_h .c_h {
    cursor:pointer;
    border-radius:0px;
        /*background:#c61432;*/
        background: #3d57c9;
        line-height: 34px;
  }
  .l_c_h .left_c {
    color:#ebebeb;
    width:150px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .l_c_h .right_c {
    text-align:center;
    /*background:#DE4A4A;*/
   /* background:#ff8f32;*/
    line-height: 25px;
  }
  .l_c_h .right_c  a {
    color:white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    cursor: pointer !important;
    font-size: 12px;
    line-height: normal !important;
    margin-top: 0 !important;
    padding: 1px 0px !important;
    text-align: center !important;
    text-decoration:none;
    font-weight:600;
  }
  .clear {
    clear:both;
  }
  .chat_container {
      /*		display:none;
      padding:5px 26px;*/
         }
  .chat_container .no_provider {
    text-align:left;
    color:#5E5652;
    font-size:10px;
    width:260px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:5px;
  }
  .chat_container .footer_c {
    text-align:left;
    color:#5E5652;
    font-size:10px;
    margin-left:10px;  
    font-family:Arial, Helvetica, sans-serif;
  }
  .chat_container .footer_c a {
    text-decoration:underline;
    color:#777;
    font-size:11px;
  }
  
  .form-error {
    display:none;
  }
  
  .left{
    float:left;
  }
  .right{
    float:right;
  }
  .left_icons{
    width:35px;
    height:auto;
    text-align:center;
    color:white;
    /*background:#DE4A4A;*/
      
    font-size:15px;
  }
  .left_icons a{
    color:#fff;
    font-weight:normal;
  }
  .center_icons{
    text-align:center;
    padding:2px 0px 0px 5px;
  }
  .logout img{
    margin-top:8px;
  }
  
  .arrowup
  {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    height: 10px;
    width: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .arrowdown {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
     height: 25px; 
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
  }
  .mat-list-pro .mat-list-item, .mat-list-pro .mat-list-option {
    display: block;
     height: 48px; 
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
  }