

<div style="background-color:#3d57c9; float: left; width: 16%; height:90%;  margin-left: 20px; margin-bottom: 20px; margin-top: 20px;border-radius: 20px; align-content:center;">
    <mat-list  style="text-align: center; margin-top: 80%; margin-left: 10%; margin-right: 20%;">
        <mat-list-item style="color: white;border-bottom: 1px solid ghostwhite;" routerLink="/navigation/profile"> Profile </mat-list-item>
        <mat-list-item style="color: white;border-bottom: 1px solid ghostwhite; " routerLink="/navigation/posts"> Posts </mat-list-item>
        <mat-list-item style="color: white;border-bottom: 1px solid ghostwhite;" routerLink="/navigation/gallery"> Gallery </mat-list-item>
        <mat-list-item style="color: white;border-bottom: 1px solid ghostwhite;" routerLink="/navigation/todo">ToDo</mat-list-item>
       </mat-list>
</div>


<div style=" float: right; width: 80%;">
   
    <router-outlet></router-outlet>
</div>
